<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688099497562-fgkdu9mjncua4b0tdmtmlb1o7q52hinq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688099497562-fgkdu9mjncua4b0tdmtmlb1o7q52hinq</string>
	<key>API_KEY</key>
	<string>AIzaSyDgIGmCGPXQOCLMPzSNROjtlRAhCzFmUUc</string>
	<key>GCM_SENDER_ID</key>
	<string>688099497562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todosApp</string>
	<key>PROJECT_ID</key>
	<string>todos-app-893a0</string>
	<key>STORAGE_BUCKET</key>
	<string>todos-app-893a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688099497562:ios:7787ad6e827bc3fd116a63</string>
</dict>
</plist>